# drop _EXAMPLE for your own repo and source me
CONDA=conda
ENV=cheviz
JUPYTER="jupyter lab"

${CONDA} deactivate
${CONDA} activate ${ENV}
${JUPYTER} 2>&1 | tee jupyterlab.log | grep -A1 'The Jupyter Notebook is running at:' &
